@import '~assets/styles/variables';
@import '~assets/styles/extends';
@import '~assets/styles/mixin';

:host {
  @extend .extend-slide;
}

.title {
  @extend .extend-slide-title;
  @include fadein(0);
  text-align: center;
  padding: 48px 32px;
}
.body {
  @extend .extend-slide-body;
  @include fadein(1);
  margin: 0 auto;
  max-width: 80%;
  padding: 0 32px;
}
