@import '~assets/styles/variables';
:host {
  overflow: hidden;
}

.slide-host {
  background-color: $primary-50;
  width: 1280px;
  height: 720px;
  overflow-y: auto;
  transform: scale(1);
  transform-origin: left top;
}
