<footer class="footer">
  <div class="footer-col">
    <img src="./assets/img/logo.svg" alt="Ripple" class="footer-logo" />
    <div class="footer-copy">&copy; 2020 UEC Programming</div>
  </div>
  <div class="footer-col">
    <a href="./s/privacy">プライバシーポリシー</a>
    <a href="./s/tos">利用規約</a>
    <a href="./s/contact">お問い合わせ</a>
    <a href="https://www.uec-programming.com">電気通信大学プログラミング教室</a>
  </div>
</footer>
