<header class="header">
  <a href="/" class="header-item header-logo"><img src="/assets/img/logo.svg" alt="Ripple" /></a>
  <a href="/login"><button class="header-item header-button">ログイン</button></a>
</header>
