@import '~assets/styles/variables';
:host {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 0.5fr 0.5fr;
  height: 100%;
}
.slide-container {
  background-color: #222;
  grid-column: 1;
  grid-row: 1;
  min-width: 0;
  min-height: 0;
}
.slide {
  width: 100%;
  height: 100%;
  display: block;
}
#index {
  overflow-y: auto;
  grid-column: 1;
  grid-row: 2;
}
.property-container {
  border-left: 1px solid $mono-60;
  grid-column: 2;
  grid-row: 1/3;
  background-color: $mono-95;
  overflow-y: scroll;
}
.property-group {
  padding: 8px 0;
}
.property-meta {
  display: flex;
  justify-content: space-around;
}
.property-meta-input {
  font-size: 20px;
  flex: 1;
}
.property-title {
  @include font-size(14);
  font-weight: 700;
  color: $mono-30;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.property-title::after,
.property-title::before {
  display: block;
  content: '';
  border-bottom: 1px solid $mono-70;
}
.property-title::after {
  flex: 1;
  margin-left: 0.3rem;
}
.property-title::before {
  width: 0.7rem;
  margin-right: 0.3rem;
}
.property-body {
  padding: 0 1rem;
}
.property-row > * {
  width: 100%;
}
