<div class="header-logo">
  <a routerLink="/home" class="header-logo"></a>
</div>
<div class="header">
  <div class="header-title">
    {{ slideService.slideTitle }}
  </div>
  <button class="header-button" mat-stroked-button (click)="save()">保存</button>
  <button class="header-button" mat-stroked-button>終了</button>
</div>
<div class="slide-container">
  <app-slide-container class="slide"></app-slide-container>
</div>
<div class="slide-footer-container">
  <input type="text" id="slide-footer-field" [(ngModel)]="current.title" />
</div>
<div id="index">
  <div class="index-title">目次</div>
  <mat-action-list cdkDropList (cdkDropListDropped)="drop($event)">
    <button
      mat-list-item
      *ngFor="let slide of slideService.getSlide(); let i = index"
      (click)="changeSlide(i)"
      class="index-list-item"
      [ngClass]="{ active: i == currentIndex }"
      cdkDrag
    >
      {{ i + 1 }}. {{ slide.title }}
    </button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">追加</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let slide of slideTypes" (click)="addSlide(slide.type)">
        {{ slide.label }}
      </button>
    </mat-menu>
  </mat-action-list>
</div>
<div class="tts-container">
  <mat-card>
    <mat-form-field class="tts-field">
      <textarea
        matInput
        matTextareaAutosize
        type="text"
        placeholder="読み上げ文章"
        [(ngModel)]="current.speech.text"
      ></textarea>
    </mat-form-field>
    <div class="tts-card-footer">
      <div class="tts-description">読み方:<code class="tts-description-code">[日本橋|にっぽんばし]</code></div>
      <div class="tts-description">
        間隔:<code class="tts-description-code">&lt;2s&gt;</code><code class="tts-description-code">&lt;100ms&gt;</code>
      </div>
      <button mat-stroked-button color="primary" (click)="speech()">
        <ng-container *ngIf="this.slideService.speechAudio.paused; else pauseBtn">
          <i class="material-icons">play_arrow</i>再生
        </ng-container>
        <ng-template #pauseBtn> <i class="material-icons">stop</i>停止 </ng-template>
      </button>
    </div>
  </mat-card>
</div>
<div class="property-container">
  <ng-container [ngSwitch]="current.slide.type">
    <ng-container *ngSwitchCase="'cover'">
      <div class="property-group">
        <div class="property-title">表紙</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>コース名</mat-label>
              <input matInput [(ngModel)]="current.slide.course" />
            </mat-form-field>
          </div>
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出し</mat-label>
              <input matInput [(ngModel)]="current.slide.lesson" />
            </mat-form-field>
          </div>
          <div class="property-row">
            <mat-form-field>
              <mat-label>教室名</mat-label>
              <input matInput [(ngModel)]="current.slide.organization" />
            </mat-form-field>
          </div>
          <div class="property-row">
            <mat-form-field>
              <mat-label>作成者名</mat-label>
              <input matInput [(ngModel)]="current.slide.author" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'oneColumn'">
      <div class="property-group">
        <div class="property-title">見出し</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出しテキスト</mat-label>
              <input matInput [(ngModel)]="current.slide.title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">本文</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.body"></app-slide-editor-element>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'twoColumn'">
      <div class="property-group">
        <div class="property-title">見出し</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出しテキスト</mat-label>
              <input matInput [(ngModel)]="current.slide.title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">左側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.left"></app-slide-editor-element>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">右側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.right"></app-slide-editor-element>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'topic'">
      <div class="property-group">
        <div class="property-title">見出し</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出しテキスト</mat-label>
              <input matInput [(ngModel)]="current.slide.title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">左側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.left"></app-slide-editor-element>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">右側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.right"></app-slide-editor-element>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
