<div class="slide-container">
  <app-slide-container class="slide"></app-slide-container>
</div>
<div class="slide-footer-container">
  <input type="text" id="slide-footer-field" [(ngModel)]="current.title">
</div>
<div id="index">
  <div class="index-title">目次</div>
  <mat-action-list>
    <button
      mat-list-item
      *ngFor="let title of titleList; let i = index"
      (click)="changeSlide(i)"
      class="index-list-item"
      [ngClass]="{ active: i == currentIndex }"
    >
      {{ i + 1 }}. {{ title }}
    </button>
  </mat-action-list>
</div>
<div class="tts-container">
  <div class="tts-header"></div>
</div>
<div class="property-container">
  <ng-container [ngSwitch]="current.slide.type">
    <ng-container *ngSwitchCase="'cover'">
      <div class="property-group">
        <div class="property-title">表紙</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>コース名</mat-label>
              <input matInput [(ngModel)]="current.slide.course" />
            </mat-form-field>
          </div>
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出し</mat-label>
              <input matInput [(ngModel)]="current.slide.lesson" />
            </mat-form-field>
          </div>
          <div class="property-row">
            <mat-form-field>
              <mat-label>教室名</mat-label>
              <input matInput [(ngModel)]="current.slide.organization" />
            </mat-form-field>
          </div>
          <div class="property-row">
            <mat-form-field>
              <mat-label>作成者名</mat-label>
              <input matInput [(ngModel)]="current.slide.author" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'oneColumn'">
      <div class="property-group">
        <div class="property-title">見出し</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出しテキスト</mat-label>
              <input matInput [(ngModel)]="current.slide.title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">本文</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.body"></app-slide-editor-element>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'twoColumn'">
      <div class="property-group">
        <div class="property-title">見出し</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出しテキスト</mat-label>
              <input matInput [(ngModel)]="current.slide.title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">左側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.left"></app-slide-editor-element>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">右側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.right"></app-slide-editor-element>
        </div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'topic'">
      <div class="property-group">
        <div class="property-title">見出し</div>
        <div class="property-body">
          <div class="property-row">
            <mat-form-field>
              <mat-label>見出しテキスト</mat-label>
              <input matInput [(ngModel)]="current.slide.title" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">左側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.left"></app-slide-editor-element>
        </div>
      </div>
      <div class="property-group">
        <div class="property-title">右側</div>
        <div class="property-body">
          <app-slide-editor-element [elements]="current.slide.right"></app-slide-editor-element>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

