@import '~assets/styles/variables';
:host {
  display: grid;
  grid-template-columns: 200px 1fr 400px;
  grid-template-rows: 64px 3fr 64px 2fr;
  height: 100%;
}
.header,
.header-logo {
  background-color: $mono-100;
  border-bottom: 1px solid $mono-80;
}
.header {
  display: flex;
  align-items: center;
  grid-row: 1;
  grid-column: 2/4;
}
.header-logo {
  background-image: url(/assets/images/logo-p1.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 96px 32px;
  grid-column: 1;
  grid-row: 1;
}
.header-title {
  flex: 1;
}
.header-button {
  margin: 0 8px;
}
.slide-container {
  background-color: $mono-10;
  grid-column: 2;
  grid-row: 2;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.slide {
  width: 100%;
  height: 100%;
  display: block;
}
.slide-footer-container {
  background-color: $mono-10;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-footer-field {
  appearance: none;
  color: $mono-60;
  font-weight: 500;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  border-bottom: 1px solid transparent;
  transition: color 0.2s, border-bottom-color 0.2s;
  &:hover {
    border-bottom-color: $primary-500;
    color: $mono-90;
  }
  &:focus {
    outline: none;
    color: $mono-90;
    border-bottom-color: $primary-200;
  }
}
#index {
  overflow-y: auto;
  grid-column: 1;
  grid-row: 2/5;
  border-right: 1px solid $mono-20;
  color: $mono-10;
}
.index-list-item {
  cursor: move;
}
.index-list-item.active {
  background-color: rgba(0, 0, 0, 0.15);
}
.property-container {
  border-left: 1px solid $mono-20;
  grid-column: 3;
  grid-row: 2/5;
  color: $mono-10;
  overflow-y: scroll;
}
.property-group {
  margin-bottom: 16px;
}
.property-title,
.index-title {
  @include font-size(18);
  font-weight: 700;
  color: $mono-20;
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-left: 8px;
}
.property-body {
  padding: 0 1rem;
}
.property-row > * {
  width: 100%;
}
.tts-container {
  grid-column: 2;
  grid-row: 4;
  padding: 8px;
}
.tts-field {
  width: 100%;
}
.tts-card-footer {
  display: flex;
  align-items: center;
}
.tts-description {
  flex: 1;
  color: $mono-40;
}
.tts-description-code {
  background-color: $mono-90;
  border-radius: 4px;
  padding: 2px;
  margin: 0 4px;
  font-family: 'Courier New', Courier, monospace;
}
