<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <% var data = { title: 'Ripple | 利用規約', description: 'プログラミング学習サービスRippleのお問い合わせ情報です。',
    path: '/contact' }; %> <%- include('./includes/head', data) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <div class="article-wrapper">
      <article class="article">
        <h1>お問い合わせ</h1>
        <p>NPO法人uecサポート <a href="mailto:uecprogramming2018@gmail.com">uecprogramming2018@gmail.com</a></p>
      </article>
    </div>
    <%- include('./includes/footer') %>
  </body>
</html>
