<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <% var data = { title: 'Ripple — プログラミング学習サービス', description:
    'Ripple(リップル)は、プログラミングを基礎から学べるオンライン学習サービスです。初心者でも独自のスライド形式で簡単に入門できます。電気通信大学プログラミング教室が提供しているので安心してご利用いただけます。',
    path: '/' }; %> <%- include('./includes/head', data) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <section class="intro">
      <h2 class="intro-title">
        <div class="intro-title-1">すべての人に</div>
        <div class="intro-title-2">プログラミングを</div>
      </h2>
      <div class="intro-main">
        <div class="intro-message">
          <div class="intro-message-item">誰でも簡単に始める</div>
          <div class="intro-message-item">誰にとっても役に立つ</div>
          <div class="intro-message-item">そんなプログラミングを</div>
          <div class="intro-message-item"><span class="intro-message-brand">Ripple</span>で始めてみませんか</div>
        </div>
        <div class="intro-start">
          <a href="/login"><button class="intro-start-button">今すぐはじめる</button></a>
        </div>
      </div>
      <svg
        version="1.1"
        class="intro-wave"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 80 60"
        preserveAspectRatio="none"
      >
        <defs>
          <path id="waveSVG-0" d="M0 20q10 -40 20 0 q10 40 20 0 q10 -40 20 0 q10 40 20 0 L80 60 L0 60 z" />
        </defs>
        <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-1" x="0" y="0" fill="rgba(255, 255, 255, .25)" />
        <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-2" x="0" y="3" fill="rgba(255, 255, 255, .5)" />
        <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-3" x="0" y="6" fill="rgba(255, 255, 255, .75)" />
        <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-4" x="0" y="9" fill="#ffffff" />
      </svg>
    </section>
    <section class="course-wrapper">
      <div class="course">
        <h2 class="course-title">コース</h2>
        <ul class="course-list">
          <li class="course-item">
            <h3 class="course-item-title">Python</h3>
            <p class="course-item-desc">人気のあるPython言語を 短期間で無理なくマスター</p>
            <img class="course-item-image" src="/assets/img/python.svg" alt="Python" />
          </li>
        </ul>
      </div>
    </section>
    <section class="feature">
      <h2 class="feature-title">特徴</h2>
      <div class="feature-item-right">
        <div class="feature-item-desc">
          <h3 class="feature-item-desc-title">
            一歩<span class="_letterSmall">ずつ</span><span class="_letterSpaceM10">、</span>着実<span
              class="_letterSmall"
              >に</span
            >
          </h3>
          <p class="feature-item-desc-body">クイズを交えた独自のスライド形式で、しっかりと導きます</p>
        </div>
        <img class="feature-item-image dammyImage" src="" alt="プログラミング教室" />
      </div>
      <div class="feature-item-left">
        <div class="feature-item-desc">
          <h3 class="feature-item-desc-title">
            長年<span class="_letterSmall">の</span><span class="_letterPlain">ノウハウ</span>
          </h3>
          <p class="feature-item-desc-body">2016年に開講した電気通信大学プログラミング教室が贈るオンライン教材</p>
        </div>
        <img class="feature-item-image dammyImage" src="" alt="プログラミング教室" />
      </div>
      <div class="feature-item-right">
        <div class="feature-item-desc">
          <h3 class="feature-item-desc-title">初めて<span class="_letterSmall">でも</span>安心</h3>
          <p class="feature-item-desc-body">
            専用ソフトウェアは不要！<br />Web上で完結するから、もう始める準備はできています。
          </p>
        </div>
        <img class="feature-item-image dammyImage" src="" alt="プログラミング教室" />
      </div>
    </section>
    <section class="start">
      <h2 class="start-title">
        プログラミング学習<span class="_letterSmall">を</span>始<span class="_letterPlain">めましょう</span>
      </h2>
      <a href="/login"><button class="start-button">今すぐはじめる</button></a>
    </section>
    <svg
      version="1.1"
      class="footer-wave"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 80 60"
      preserveAspectRatio="none"
    >
      <defs>
        <path id="waveSVG-10" d="M0 20q10 40 20 0 q10 -40 20 0 q10 40 20 0 q10 -40 20 0 L80 60 L0 60 z" />
      </defs>
      <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-1" x="0" y="0" fill="rgba(77, 51, 153, 0.25)" />
      <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-2" x="0" y="3" fill="rgba(77, 51, 153, 0.5)" />
      <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-3" x="0" y="6" fill="rgba(77, 51, 153, 0.75)" />
      <use href="#waveSVG-0" class="waveSVG-item waveSVG-item-4" x="0" y="9" fill="rgba(77, 51, 153, 1.0)" />
    </svg>
    <%- include('./includes/footer') %>
  </body>
</html>
