<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <% var data = { title: 'Ripple | プライバシーポリシー', description:
    'プログラミング学習サービスRippleのプライバシーポリシーです。', path: '/tos' }; %> <%- include('./includes/head',
    data) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <div class="article-wrapper">
      <article class="article">
        <h1>プライバシーポリシー</h1>
        <p>
          NPO法人uecサポート(以下「当社」)は、当社の提供するサービス（以下「当社サービス」）における、ユーザーについての個人情報を含む利用者情報の取り扱いについて、以下のとおりプライバシーポリシー（以下「本ポリシー」）を定めております。
        </p>
        <h2>1. 個人情報の定義</h2>
        <p>
          本ポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義される個人情報を意味するものとします。
        </p>
        <h2>2. 個人情報の利用目的</h2>
        <p>
          利用者から取得した利用者情報は、以下の目的のために利用されます。当社は、個人情報を以下の目的で利用いたします。
        </p>
        <ol>
          <li>1. 当社サービスの提供、維持、保護及び改善のため</li>
          <li>2. 当社サービスに関するご案内、お問い合わせ等の対応のため</li>
          <li>3. 当社サービスに関する当社の利用規約、ポリシー等の変更などを通知するため</li>
          <li>4. 当社サービスの提供、維持、保護及び改善のため</li>
          <li>5. 個人を特定しない範囲や方法での統計情報として利用するため</li>
          <li>6. 当社または第三者の広告配信または表示のため</li>
          <li>7. その他マーケティングに利用するため</li>
          <li>8. 上記の利用目的に付随する利用目的のため</li>
        </ol>
        <h2>3. 個人情報の取得方法</h2>
        <p>本ポリシーにおいて当社が収集する利用者情報は、以下のようなものとなります。</p>
        <ol>
          <li>1. 利用者からご提供いただく、メールアドレス、その他当社が定める入力フォームに利用者が入力する情報。</li>
          <li>
            2.
            利用者が当社サービスを利用するにあたって、他サービスと連携を許可することにより、当該他サービスからご提供いただく情報。
          </li>
          <li>
            3.
            利用者が当社サービスを利用するにあたって、当社が当社サービスへのアクセス状況やその他ご利用方法から収集する情報。これには端末情報、ログ情報、Cookieが含まれます。
          </li>
          <li>
            4.
            当社サービスがトラフィックデータ収集のために利用しているGoogleアナリティクスから収集する利用者属性情報(年齢、性別など)。なお、これらのデータは個人を特定できないよう加工された上で収集されます。Googleアナリティクスの詳細については<a
              href="http://www.google.com/policies/privacy/partners/"
              target="_blank"
              >Google アナリティクス サービス利用規約</a
            >をご確認ください。
          </li>
          <li>5. 当社サービスへのログインに利用するアカウントの情報。これにはid,メールアドレスが含まれます。</li>
        </ol>
        <h2>4.個人情報の管理方法</h2>
        <p>
          当社は、個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図られるよう、当社の従業員に対し、必要かつ適切な監督を行います。また、当社は、個人情報の取扱いの全部又は一部を委託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督を行います。
        </p>
        <h2>5.第三者提供</h2>
        <p>
          当社は、利用者情報のうち、個人情報については、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用者の同意を得ないで、第三者（個人情報の保護に関する法律第23条に定める「第三者」をいいます）に提供しません。ただし、次に掲げる場合はこの限りではありません。
        </p>
        <ol>
          <li>1.当社が利用目的の達成に必要な範囲内において個人情報の取り扱いの全部または一部を委託する場合</li>
          <li>2.合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
          <li>
            3.国の機関もしくは地方公共団体、またはその委託を受けた者が法令の定める事務を遂行することに　対して協力する必要がある場合であって、利用者の同意を得ることによって当該事務の遂行に支障　を及ぼすおそれがある場合
          </li>
          <li>4.その他、個人情報保護法その他の法令で認められる場合</li>
        </ol>
        <h2>6.個人情報の開示</h2>
        <p>
          当社は、本人から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、本人ご自身からのご請求であることを確認の上で、本人に対し、遅滞なく開示を行います（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。
        </p>
        <h2>7.個人情報の訂正、利用停止等</h2>
        <p>
          当社は利用者により、個人情報の訂正、削除、利用停止を求められた場合には、利用者ご本人からのご請求であることを確認の上で遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正、削除、利用停止を行い、その旨を利用者に通知します。なお、合理的な理由に基づいて訂正または利用停止を行わない旨の決定をしたときは、利用者に対しその旨を通知します。
        </p>
        <h2>8.Cookie(クッキー)、その他の技術の利用</h2>
        <p>
          当社サービスは、Cookie及びこれに類する技術を利用することがあります。これらの技術は、当社による当社サービスの利用状況等の把握に役立ち、サービス向上に資するものです。Cookieを無効化されたい利用者は、ウェブブラウザの設定を変更することによりCookieを無効化することができます。但し、Cookieを無効化すると、当社サービスの一部の機能をご利用いただけなくなる場合があります。
        </p>
        <h2>9.お問い合わせ</h2>
        <p>NPO法人uecサポート uecprogramming2018@gmail.com</p>
        <h2>10.継続的改善</h2>
        <p>
          当社は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。
        </p>
        <p>制定 : 2020年4月13日</p>
      </article>
    </div>
    <%- include('./includes/footer') %>
  </body>
</html>
