<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <% var data = { title: 'Ripple | プライバシーポリシー', description:
    'プログラミング学習サービスRippleのプライバシーポリシーです。', path: '/tos' }; %> <%- include('./includes/head',
    data) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <div class="article-wrapper">
      <article class="article">
        <%- include('./includes/privacy') %>
      </article>
    </div>
    <%- include('./includes/footer') %>
  </body>
</html>
