<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <% var data = { title: 'Ripple | 利用規約', description: 'プログラミング学習サービスRippleの利用規約です。', path:
    '/tos' }; %> <%- include('./includes/head', data) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <div class="article-wrapper">
      <article class="article">
        <h1>利用規約</h1>
      </article>
    </div>
    <%- include('./includes/footer') %>
  </body>
</html>
