<section class="course">
  <h2 class="course-heading">コース一覧</h2>
  <ul class="course-list">
    <li *ngFor="let course of courses" class="course-item" (click)="selectCourse(course)">
      <div class="course-item-left">
        <svg viewBox="0 0 40 40" width="40" height="40" class="course-item-progress">
          <circle class="course-item-progress-border"></circle>
          <circle
            [style.strokeDasharray]="getProgressArray(course, 17)"
            class="course-item-progress-current"
            [style.strokeDashoffset]="31.42"
          ></circle>
        </svg>
      </div>
      <div class="course-item-title">{{ course.title }}</div>
      <div class="course-item-date">前回の学習: {{ getCourseLastStudy(course) | fromNow }}</div>
    </li>
  </ul>
</section>

<section class="lessons" *ngIf="selectedCourse">
  <h2 class="lessons-heading">{{ selectedCourse.title }}</h2>
  <div class="lessons-overview">
    <svg viewBox="0 0 128 128" width="128" height="128" class="lessons-progress">
      <circle class="lessons-progress-border"></circle>
      <circle
        [style.strokeDasharray]="getProgressArray(selectedCourse, 56)"
        class="lessons-progress-current"
        [style.strokeDashoffset]="87.96"
      ></circle>
      <text class="lessons-progress-label1" x="64" y="48">
        達成率
      </text>
      <text class="lessons-progress-label2" x="64" y="72">{{ getProgressPercent(selectedCourse) }}%</text>
    </svg>
    <div class="lessons-description">{{ selectedCourse.description }}</div>
  </div>
  <div class="lesson-list">
    <ul>
      <li class="lesson-item-wrapper" *ngFor="let lesson of lessons | async">
        <app-lesson-item [lesson]="lesson"></app-lesson-item>
      </li>
    </ul>
  </div>
</section>
