@import '~assets/styles/variables';
@import '~assets/styles/mixin';
@import '~assets/styles/extends';

$section-margin: 24px;

:host {
  display: flex;
}

.course {
  margin: $section-margin;
  width: 384px;
}
.course-list {
  margin-top: 16px;
}

.course-heading {
  @include font-size(20);
  color: $mono-40;
}

.course-item {
  @extend .extend-list-item;
  width: 384px;
}

.course-item-left {
  @extend .extend-list-item-symbol
}
.course-item-progress {
  width: 40px;
  height: 40px;
}
.course-item-title {
  @extend .extend-list-item-title;
}
.course-item-date {
  @extend .extend-list-item-sub;
}

.lessons {
  @extend .extend-card;
  width: 512px;
  margin: $section-margin;
}

.lessons-heading {
  margin: 0;
  padding: 24px;
  font-size: 28px;
  color: $mono-100;
  background-image: $primary-600-grad-horizontal;
}

.lessons-overview {
  margin: 24px auto;
  display: flex;
}
.ex-progress-border {
  stroke: $mono-80;
  fill: none;
}
.ex-progress-current {
  stroke: $primary-500;
  fill: none;
}
.ex-progress-course {
  cx: 20;
  cy: 20;
  r: 17;
  stroke-width: 6;
}
.ex-progress-lesson {
  cx: 64;
  cy: 64;
  r: 56;
  stroke-width: 16;
}
.course-item-progress-border {
  @extend .ex-progress-border;
  @extend .ex-progress-course;
}
.course-item-progress-current {
  @extend .ex-progress-current;
  @extend .ex-progress-course;
}
.lessons-progress-border {
  @extend .ex-progress-border;
  @extend .ex-progress-lesson;
}
.lessons-progress-current {
  @extend .ex-progress-current;
  @extend .ex-progress-lesson;
}
.lessons-progress-label1 {
  font-size: 16px;
  font-weight: 500;
  fill: $mono-40;
  text-anchor: middle;
  dominant-baseline: middle;
}
.lessons-progress-label2 {
  font-size: 32px;
  font-weight: 700;
  fill: $primary-500;
  text-anchor: middle;
  dominant-baseline: middle;
}
.lessons-description {
  flex: 1;
  @include font-size(14);
  color: $mono-40;
}
.lesson-item,
.lesson-section {
  border-bottom: 1px solid $mono-95;
}
.lesson-item-wrapper:first-child {
  border-top: 1px solid $mono-95;
}
.lesson-section {
  color: $mono-60;
  @include font-size(16);
  font-weight: 500;
  margin-top: 24px;
}
.lesson-item-wrapper {
  list-style: none;
}
