@import '~assets/styles/variables';
@import '~assets/styles/extends';
@import '~assets/styles/mixin';

:host {
  @extend .extend-slide;
}
.title {
  @extend .extend-slide-title;
  @include fadein(0);
  padding: 48px 32px;
}
.body {
  display: flex;
}
.left, .right {
  @extend .extend-slide-body;
  width: 50%;
  box-sizing: border-box;
  padding: 0 32px;
}
.left {
  @include fadein(1);
}
.right {
  @include fadein(2);
}
