<ng-container *ngIf="displayMode === 'slide' || displayMode === 'review'">
  <div class="tools">
    <div class="tools-item">
      <i class="material-icons">list</i>
    </div>
    <div class="tools-item" [class.playing]="isPlaying" (click)="toggleMute()">
      <i class="material-icons">{{ isMuted ? 'volume_mute' : 'volume_up' }}</i>
    </div>
    <div class="tools-item" (click)="toggleSubtitles()">
      <i class="material-icons">subtitles</i>
    </div>
  </div>
  <div class="prev-button" (click)="slidePrev()" *ngIf="navBack">
    <i class="material-icons">arrow_back</i>
  </div>
  <div class="next-button" (click)="slideNext()" *ngIf="navForward">
    <i class="material-icons">arrow_forward</i>
  </div>
  <div class="close-button" (click)="resumeExercise()" *ngIf="displayMode === 'review'">
    <i class="material-icons">arrow_downward</i>演習に戻る
  </div>
  <app-slide-container class="slide"></app-slide-container>
</ng-container>
<div class="ex" *ngIf="displayMode === 'exercise'">
  <app-exercise class="ex-left"></app-exercise>
  <app-editor class="ex-right"></app-editor>
</div>
<div class="result" *ngIf="displayMode === 'wrapup'">
  <div class="result-container">
    <h2 class="result-header">レッスンクリア</h2>
    <div class="result-column">
      <div class="result-label">レッスン</div>
      <div class="result-title">{{ result.title }}</div>
    </div>
    <div class="result-column">
      <div class="result-label">所要時間</div>
      <div class="result-title">{{ result.duration | duration }}</div>
    </div>
    <div class="result-column">
      <div class="result-label">自己評価</div>
      <div class="result-face">
        <img
          class="result-face-image"
          [src]="'../../assets/images/face_' + face + '.svg'"
          *ngIf="face !== null; else dammy"
        />
        <ng-template #dammy>
          <div class="result-face-dammy"></div>
        </ng-template>
        <div class="result-face-wrapper" [class.show]="face === null">
          <div class="result-face-bubble">
            <div>評価を記録しましょう</div>
            <div class="result-face-container">
              <button class="result-face-item">
                <img class="result-face-image" src="../../assets/images/face_0.svg" (click)="selectFace(0)" />
                <span class="result-face-label">余裕</span>
              </button>
              <button class="result-face-item">
                <img class="result-face-image" src="../../assets/images/face_1.svg" (click)="selectFace(1)" />
                <span class="result-face-label">簡単</span>
              </button>
              <button class="result-face-item">
                <img class="result-face-image" src="../../assets/images/face_2.svg" (click)="selectFace(2)" />
                <span class="result-face-label">順調</span>
              </button>
              <button class="result-face-item">
                <img class="result-face-image" src="../../assets/images/face_3.svg" (click)="selectFace(3)" />
                <span class="result-face-label">やや難</span>
              </button>
              <button class="result-face-item">
                <img class="result-face-image" src="../../assets/images/face_4.svg" (click)="selectFace(4)" />
                <span class="result-face-label">要復習</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="result-column">
      <button routerLink="/courses" class="result-action" [disabled]="face === null">OK</button>
    </div>
  </div>
</div>
<app-judge-result *ngIf="judging"></app-judge-result>
