<div class="header">
  <a class="logo" routerLink="/home"></a>
  <div class="header-spacer"></div>
  <a class="close"></a>
</div>
<div class="tools">
  <div class="tools-item">
    <i class="material-icons">list</i>
  </div>
  <div class="tools-item">
    <i class="material-icons">volume_down</i>
  </div>
  <div class="tools-item" (click)="toggleSubtitles()">
    <i class="material-icons">subtitles</i>
  </div>
</div>
<div class="prev-button" (click)="slidePrev()" *ngIf="navBack">
  <i class="material-icons">arrow_back</i>
</div>
<div class="next-button" (click)="slideNext()" *ngIf="navForward">
  <i class="material-icons">arrow_forward</i>
</div>
<app-slide-container class="slide"></app-slide-container>
