@import '~assets/styles/variables';
@import '~assets/styles/extends';
@import '~assets/styles/mixin';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.tools {
  position: fixed;
  left: 0;
  bottom: 16px;
}

.tools-item {
  color: $mono-70;
  width: 48px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $mono-40;
  }
  i {
    @include font-size(30);
  }
}
.slide {
  position: absolute;
  top: 16px;
  left: 64px;
  right: 64px;
  bottom: 32px;
  box-shadow: 2px 2px 64px #00000088;
  background-color: $mono-100;
  border-radius: 16px;
}
.prev-button,
.next-button,
.close-button {
  cursor: pointer;
  margin: auto;
  background-color: $mono-100;
  color: $mono-40;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.prev-button,
.next-button {
  height: 96px;
  width: 48px;
  position: fixed;
  top: 0;
  bottom: 0;
}
.close-button {
  height: 48px;
  position: absolute;
  right: 0;
  top: -32px;
  padding: 0 8px;
  border-radius: 6px 6px 0px 0;
  transform-origin: right bottom;
  transform: rotate(-90deg);
  z-index: 20;
}

.prev-button {
  left: 0;
  border-radius: 0 48px 48px 0;
}
.next-button {
  right: 0;
  border-radius: 48px 0 0 48px;
  animation: 0.4s ease 0s 2 alternate both anim-highlight;
}
@keyframes anim-highlight {
  from {
    background-color: $mono-100;
    color: $mono-40;
  }
  to {
    background-color: $slide-main;
    color: white;
  }
}

.ex {
  flex: 1;
  display: flex;
}
.ex-left {
  flex: 2;
  height: 100%;
  overflow-y: auto;
}
.ex-right {
  flex: 3;
  margin: 8px;
}
.ex-left-slide {
  height: 600px;
}

.result-header {
  text-align: center;
  font-size: 32px;
}
.result-container {
  @extend .extend-card;
  width: 80%;
  max-width: 700px;
  margin: 16px auto;
}
.result-face {
  flex: 1;
}
.result-face-container {
  display: flex;
  justify-content: space-between;
}
.result-face-item {
  padding: 4px;
  appearance: none;
  font: inherit;
  background-color: $mono-100;
  transition: 0.25s background-color ease;
  border: 1px solid $primary-300;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  cursor: pointer;
  &:hover {
    background-color: $mono-90;
  }
}
.result-column {
  padding: 0;
  margin: 0 24px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 8px;
}
.result-label {
  margin-right: 16px;
}
.result-title {
  font-weight: 500;
  font-size: 24px;
}
.result-face-dammy {
  min-height: 64px;
}
.result-face-label {
  font-weight: bold;
  @include font-size(20);
}
.result-face-image {
  width: 64px;
  height: 64px;
}
.result-face-wrapper {
  padding: 0 !important;
  overflow: hidden;
  max-height: 0px;
  transition: 0.3s ease max-height;
  pointer-events: none;
}
.result-face-wrapper.show {
  max-height: 200px;
  margin-bottom: 16px;
  pointer-events: all;
}

.result-face-bubble {
  padding: 8px;
  background: $primary-200;
  position: relative;
  margin-top: 16px;
}

.result-face-bubble::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-bottom-color: $primary-200;
  top: -32px;
  pointer-events: none;
  left: 64px;
}
.result-action {
  @extend .extend-button1;
}
