@import '~assets/styles/variables';
@import '~assets/styles/mixin';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  height: 64px;
}
.logo {
  background-image: url(/assets/images/logo.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 96px 32px;
  width: 128px;
  opacity: 0.75;
}

.header {
  background: $primary-600-grad-horizontal;
}

.header-spacer {
  flex: 1;
}

.close {
  background-image: url(/assets/images/cross.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 64px;
}

.tools {
  position: fixed;
  left: 0;
  bottom: 16px;
}

.tools-item {
  color: $mono-70;
  width: 48px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    color: $mono-40;
  }
  i {
    @include font-size(30);
  }
}
.slide {
  position: fixed;
  top: 64px;
  left: 64px;
  right: 64px;
  bottom: 32px;
  box-shadow: 2px 2px 64px #00000088;
  background-color: $mono-100;
  border-radius: 16px;
}
.prev-button,
.next-button {
  cursor: pointer;
  height: 96px;
  width: 48px;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: $mono-100;
  color: $mono-40;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-button {
  left: 0;
  border-radius: 0 48px 48px 0;
}
.next-button {
  right: 0;
  border-radius: 48px 0 0 48px;
  animation: 0.4s ease 0s 2 alternate both anim-highlight;
}
@keyframes anim-highlight {
  from {
    background-color: $mono-100;
    color: $mono-40;
  }
  to {
    background-color: $slide-main;
    color: white;
  }
}

.ex {
  flex: 1;
  display: flex;
}
.ex-left {
  flex: 2;
  height: 100%;
  overflow-y: auto;
}
.ex-right {
  flex: 3;
}
.ex-left-slide {
  height: 600px;
}
