<div class="list">
  <ng-container *ngIf="type === 'course'">
    <div class="list-header">
      <h3 mat-subheader>コース一覧</h3>
    </div>
    <div
      class="list-item"
      *ngFor="let course of courses | async"
      (click)="selectCourse(course)"
      (dblclick)="openCourse(course.id)"
      [class.selected]="selectedCourse === course"
    >
      <mat-icon>folder</mat-icon>
      {{ course.title }}
      <mat-icon *ngIf="course.private" class="list-lock">lock</mat-icon>
    </div>
    <div class="list-add">
      <button mat-raised-button color="primary" (click)="addCourse()"><mat-icon>add</mat-icon>コースを追加</button>
    </div>
  </ng-container>
  <ng-container *ngIf="type === 'lesson'">
    <div class="list-header">
      <div class="list-back" (click)="backToCourse()"><mat-icon>arrow_back</mat-icon></div>
      <h3 mat-subheader>{{ selectedCourse.title }}</h3>
    </div>
    <div
      class="list-item"
      *ngFor="let lesson of lessons | async"
      (click)="selectLesson(lesson)"
      (dblclick)="openLesson(lesson.id)"
      [class.selected]="selectedLesson === lesson"
    >
      <mat-icon>insert_drive_file</mat-icon>
      {{ lesson.title }}
      <mat-icon *ngIf="lesson.private" class="list-lock">lock</mat-icon>
    </div>
    <div class="list-add">
      <button mat-raised-button color="primary" (click)="addLesson()"><mat-icon>add</mat-icon>レッスンを追加</button>
    </div>
  </ng-container>
</div>
<div class="detail">
  <h3><mat-icon>info</mat-icon>情報</h3>
  <ng-container *ngIf="selectedLesson === null && selectedCourse !== null">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="タイトル"
        [(ngModel)]="selectedCourse.title"
        (change)="updateCourse(selectedCourse)"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        matTextareaAutosize
        type="text"
        placeholder="説明"
        [(ngModel)]="selectedCourse.description"
        (change)="updateCourse(selectedCourse)"
      ></textarea>
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="selectedCourse.private" (change)="updateCourse(selectedCourse)">
      非公開
    </mat-checkbox>
    <div class="detail-created">作成日: {{ selectedCourse.created.toDate() | date: 'yyyy/MM/dd HH:mm' }}</div>
    <div class="detail-modified">更新日: {{ selectedCourse.modified.toDate() | date: 'yyyy/MM/dd HH:mm' }}</div>
    <div class="detail-id">ID: {{ selectedCourse.id }}</div>
    <button mat-raised-button color="warn" class="detail-remove" (click)="removeCourse(selectedCourse.id)">
      <mat-icon>delete</mat-icon>削除
    </button>
  </ng-container>
  <ng-container *ngIf="selectedLesson !== null">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="タイトル"
        [(ngModel)]="selectedLesson.title"
        (change)="updateLesson(selectedLesson)"
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        matTextareaAutosize
        type="text"
        placeholder="説明"
        [(ngModel)]="selectedLesson.description"
        (change)="updateLesson(selectedLesson)"
      ></textarea>
    </mat-form-field>
    <mat-checkbox color="primary" [(ngModel)]="selectedLesson.private" (change)="updateLesson(selectedLesson)">
      非公開
    </mat-checkbox>
    <button mat-stroked-button color="primary" class="detail-button" (click)="editSlide()">スライドを編集</button>
    <button mat-stroked-button color="primary" class="detail-button" (click)="editExercise()">演習問題を編集</button>
    <div class="detail-created">作成日: {{ selectedLesson.created.toDate() | date: 'yyyy/MM/dd HH:mm' }}</div>
    <div class="detail-modified">更新日: {{ selectedLesson.modified.toDate() | date: 'yyyy/MM/dd HH:mm' }}</div>
    <div class="detail-id">ID: {{ selectedLesson.id }}</div>
    <button
      mat-raised-button
      color="warn"
      class="detail-remove"
      (click)="removeLesson(selectedLesson.courseId, selectedLesson.id)"
    >
      <mat-icon>delete</mat-icon>削除
    </button>
  </ng-container>
</div>
