@import '~assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0 12px;
  background-color: $mono-40;
  color: $mono-80;
  @include font-size(16);
  line-height: 2;
  padding: 0 12px;
  font-weight: 500;
}
.editor-title {
  @extend .title;
  border-radius: 8px 8px 0 0;
}
.console-title {
  @extend .title;
  display: flex;
}
.button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: $accent-500;
  color: $mono-100;
  text-shadow: 0 0 2px #0008;
  border-radius: 32px;
  line-height: 1;
  @include font-size(16);
  padding: 0.5em 1em;
  box-shadow: $card-shadow;
  height: max-content;
  margin: 0 8px;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease background-color;
  &:hover {
    background-color: $accent-300;
  }
}
.editor-wrapper {
  position: relative;
  flex: 1;
}
.editor {
  height: 100% !important;
}
.console {
  position: relative;
  height: 8em;
  background-color: $mono-10;
  color: $mono-100;
  font-family: 'consolas', 'monaco', monospace;
  border-radius: 0 0 8px 8px;
}
