@import '~assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0 12px;
  background-color: $mono-40;
  color: $mono-80;
  @include font-size(16);
  line-height: 2;
  padding: 0 12px;
  font-weight: 500;
}
.editor-title {
  @extend .title;
  border-radius: 8px 8px 0 0;
}
.console-title {
  @extend .title;
  display: flex;
}
.guide {
  position: absolute;
  bottom: 58px;
  left: 12px;
  right: 12px;
  background-color: #fff;
  z-index: 10;
  padding: 16px 36px 12px 12px;
  border-radius: 8px;
  border-left: 8px solid #f08;
  animation: appear-guide 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &.close {
    transform-origin: right top;
    pointer-events: none;
    animation: hide-guide 0.4s ease-in;
  }
}
@keyframes appear-guide {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes hide-guide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.guide-close {
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 1em;
  color: #888;
  font-weight: 500;
  cursor: pointer;
}
.guide-line {
  position: absolute;
  top: -1em;
  background: #fce;
  color: #f08;
  padding: 2px 12px;
  border-radius: 1em;
  font-weight: 700;
}

.guide-heading {
  font-weight: 700;
}

.guide-description {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #888;
}
.button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background-color: $accent-500;
  color: $mono-100;
  text-shadow: 0 0 2px #0008;
  border-radius: 32px;
  line-height: 1;
  @include font-size(16);
  padding: 0.5em 1em;
  box-shadow: $card-shadow;
  height: max-content;
  margin: 0 8px;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease background-color;
  z-index: 10;
  &:hover {
    background-color: $accent-300;
  }
  &.disabled {
    background-color: $mono-30;
  }
}
.editor-wrapper {
  position: relative;
  flex: 1;
}
.editor {
  height: 100% !important;
}
.stdin-wrapper {
  height: 4em;
}
.console {
  position: relative;
  height: 8em;
  background-color: $mono-10;
  color: $mono-100;
  border-radius: 0 0 8px 8px;
  padding: 8px;
  box-sizing: border-box;
}
.console-output {
  white-space: pre-wrap;
  word-break: break-all;
  font-family: 'consolas', 'monaco', monospace;
  overflow-y: auto;
  height: 100%;
}
.console-error {
  color: #ff00aa;
}
