@import '~assets/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-bottom-container {
  flex: 1;
  display: flex;
  min-height: 0;
}

#header {
  height: 64px;
}

#sidebar {
  width: 192px;
  min-width: 192px;
}

#main {
  flex: 1;
  background-color: $primary-50;
  overflow: auto;
  position: relative;
}

.loader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $primary-800;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.hidden {
  animation: hide 0.4s ease 0s both;
  pointer-events: none;
}
@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(2);
    display: none;
  }
}
.loader-logo {
  width: 240px;
  max-width: 60%;
}
