<div>
  <a routerLink="/home" routerLinkActive="active">
    <div class="signal"></div>
    <div class="icon"></div>
    <div class="label">ホーム</div>
  </a>
  <a routerLink="/courses" routerLinkActive="active">
    <div class="signal"></div>
    <div class="icon"></div>
    <div class="label">学習</div>
  </a>
  <a routerLink="/notifications" routerLinkActive="active">
    <div class="signal"></div>
    <div class="icon"></div>
    <div class="label">お知らせ</div>
  </a>
  <a routerLink="/settings" routerLinkActive="active">
    <div class="signal"></div>
    <div class="icon"></div>
    <div class="label">設定</div>
  </a>
</div>
