<div id="logo">
  <a class="item" routerLink="/home"></a>
</div>
<div id="menu">
  <a class="item" *ngFor="let item of menuItems" [routerLink]="item.path" routerLinkActive="active" #a>
    <div class="signal"></div>
    <div class="icon">
      <i class="material-icons">{{ item.icon }}</i>
      <i class="material-icons-outlined">{{ item.icon }}</i>
    </div>
    <div class="label">{{ item.title }}</div>
  </a>
</div>
<div id="spacer"></div>
<div id="presentor">
  <a href="https://www.uec-programming.com" (click)="gaHP()" target="_blank">
    <div class="en">Presented By</div>
    <div class="ja">電気通信大学</div>
    <div class="ja">プログラミング教室</div>
  </a>
</div>
