@import '~assets/styles/variables';
@import '~assets/styles/extends';
h2 {
  text-align: center;
}
.container {
  @extend .extend-card;
  width: 90%;
  max-width: 800px;
  margin: 16px auto;
}
.form-item {
  display: grid;
  grid-template-columns: 8em 1fr;
  grid-template-rows: auto;
  margin-bottom: 16px;
  min-height: 2em;
}
.form-label {
  grid-column: 1;
  grid-row: 1;
  text-align: right;
  margin-right: 0.5em;
  font-weight: bold;
  color: #666;
}
.form-field {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .blank {
    display: inline-block;
    color: $primary-500;
  }
  .checked {
    display: none;
  }
}
.form-field input[type='radio'],
.form-field input[type='checkbox'] {
  display: none;
}
.form-field input:checked + div {
  @extend .extend-button2-checked;
}
.form-field div {
  @extend .extend-button2;
}
.form-input {
  padding: 0.5em;
  width: 15em;
  font-size: 20px;
  appearance: none;
  border-radius: 6px;
  appearance: none;
  border: none;
  background-color: $mono-95;
  background-image: linear-gradient(to right, $primary-500, $primary-500);
  background-size: 0% 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  transition: 0.25s ease background-size, 0.25s ease background-color;
}
.form-input:hover {
  background-color: $mono-90;
}
.form-input:focus {
  background-size: 100% 2px;
  outline: none;
}
.form-experience {
  width: 5em;
  padding-right: 2em;
}
.form-over {
  position: relative;
  left: -1.5em;
}
.form-error {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: $mono-50;
  min-height: 2em;
  @include font-size(12);
}
.form-error i {
  font-size: 1.2em;
}
.form-action {
  padding-top: 24px;
}
.spinner {
  margin: auto;
}
.button-submit {
  @extend .extend-button1;
}
