:host {
  padding: 0 8px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-radius: 8px;
}
.mat-card {
  margin-top: 16px;
}
.full-width {
  width: 100%;
}
.radio-block {
  display: flex;
  flex-direction: column;
}
.radio-block-field {
  width: 400px;
}
