<button mat-button [matMenuTriggerFor]="menu">追加</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let t of elementTypeList | keyvalue" (click)="addElement(t.key)">{{ t.value }}</button>
</mat-menu>
<mat-card *ngFor="let el of elements">
  <mat-card-header>
    <mat-card-title>{{ elementTypeList[el.type] }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ng-container [ngSwitch]="el.type">
      <ng-container *ngSwitchCase="'paragraph'">
        <mat-form-field>
          <textarea matInput placeholder="表示テキスト"></textarea>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'image'">
        <mat-form-field>
          <input type="text" matInput placeholder="画像パス" />
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'code'">
        <mat-select name="lang-select" required>
          <mat-option value="python">Python</mat-option>
          <mat-option value="plain">プレーンテキスト</mat-option>
        </mat-select>
        <mat-form-field>
          <textarea matInput placeholder="コード"></textarea>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'filling-code'">
        <mat-select name="lang-select" required>
          <mat-option value="python">Python</mat-option>
          <mat-option value="plain">プレーンテキスト</mat-option>
        </mat-select>
        <mat-form-field>
          <textarea matInput placeholder="コード"></textarea>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="'quiz1'">
        <mat-radio-group aria-label="正答" required class="radio-block">
          <mat-radio-button
            [value]="i"
            *ngFor="let option of el.options; let i = index"
            class="full-width-radio-button"
          >
            <mat-form-field appearance="standard" class="radio-block-field" required>
              <mat-label>選択肢{{ i + 1 }}</mat-label>
              <input matInput [(ngModel)]="option" />
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>上へ</button>
    <button mat-button>下へ</button>
    <button mat-button>削除</button>
  </mat-card-actions>
</mat-card>
