@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.hljs {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  border-radius: 6px;
  overflow: auto;
}
.hljs input[type='text'] {
  color: #222;
  font-family: 'M Plus 1p';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  padding: 0 0.5em;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.3s;
  width: 5em;
}
.hljs input[type='text']:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}
.hljs input.wrong[type='text'] {
  background-color: hsl(328, 100%, 80%);
}
