@import './variables';

.card {
  background-color: $mono-100;
  border-radius: 6px;
  box-shadow: $card-shadow;
  margin: 24px;
  overflow: hidden;

  h1 {
    font-size: 20px;
    color: $mono-20;
    margin: 0;
  }
}
.card > *:first-child {
  padding-top: 24px;
}
.card > *:last-child {
  padding-bottom: 24px;
}
.card > * {
  padding-left: 24px;
  padding-right: 24px;
}

.slide {
  width: 100%;
  min-height: 100%;
  font-weight: 300;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.slide-title {
  @include font-size(32);
  color: $mono-40;
  font-weight: 700;
}
.slide-body {
  @include font-size(24);
  width: max-content;
  display: block;
}
