@import './variables';

.extend-card {
  background-color: $mono-100;
  border-radius: 6px;
  box-shadow: $card-shadow;
  margin: 24px;
  overflow: hidden;

  h1 {
    font-size: 20px;
    color: $mono-20;
    margin: 0;
  }
}
.extend-card > *:first-child {
  padding-top: 24px;
}
.extend-card > *:last-child {
  padding-bottom: 24px;
}
.extend-card > * {
  padding-left: 24px;
  padding-right: 24px;
}

.extend-slide {
  width: 100%;
  min-height: 100%;
  font-weight: 300;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.extend-slide-title {
  @include font-size(32);
  color: $mono-40;
  font-weight: 700;
}
.extend-slide-body {
  @include font-size(24);
  width: max-content;
  display: block;
}

.extend-slide-rounded-button {
  background-color: $slide-main;
  transition: background-color 0.3s ease;
  color: $mono-100;
  padding: 0 1em;
  font-weight: bold;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  font-size: 24px;
  border-radius: 24px;
  box-shadow: $card-shadow;
  appearance: none;
  outline: none;
  margin-top: 8px;
}

.extend-slide-rounded-button:hover {
  background-color: lighten($slide-main, 10%);
}

.extend-button1{
    background-image: $primary-600-grad-horizontal;
  font-size: 24px;
  color: $mono-100;
  border: none;
  appearance: none;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px;
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  box-shadow: 2px 2px 6px -2px #0008;
  animation: 0.25s ease appear;
  &:hover {
    filter: brightness(1.1);
  }
  &:disabled {
    opacity: 0.5;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
