@mixin font-size($size, $base: 16) {
  font-size: $size / $base + rem;
}

@mixin bg-gradient($colors, $degree: 0deg) {
  background-image: linear-gradient($degree, append($colors, (), $separator: comma));
}

@mixin fadein($order: 0) {
  animation: 0.4s ease ($order * 0.4s) 1 normal both anim-fade-in;
}

@keyframes anim-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin shake() {
  animation: 0.5s ease 0s 1 alternate none anim-shake;
}

@keyframes anim-shake {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(8px);
  }
  30% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(8px);
  }
  70% {
    transform: translateX(-8px);
  }
  90% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@mixin scale-in() {
  animation: 0.5s ease 0s 1 alternate none anim-scale-in;
}

@keyframes anim-scale-in {
  from {
    opacity: 0;
    transform: scale(5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
