@import './mixin';

$h: 255;
$s: 50;

$primary-50: hsl($h, $s, 95);
$primary-100: hsl($h, $s, 90);
$primary-200: hsl($h, $s, 80);
$primary-300: hsl($h, $s, 70);
$primary-400: hsl($h, $s, 60);
$primary-500: hsl($h, $s, 50);
$primary-600: hsl($h, $s, 40);
$primary-700: hsl($h, $s, 30);
$primary-800: hsl($h, $s, 20);
$primary-900: hsl($h, $s, 10);
$primary-600-grad-vertical: linear-gradient(180deg, $primary-600, adjust-color($primary-500, $hue: -30));
$primary-600-grad-horizontal: linear-gradient(90deg, $primary-600, adjust-color($primary-500, $hue: -30));

$mono-0: hsl(0, 0, 0);
$mono-10: hsl(0, 0, 10);
$mono-20: hsl(0, 0, 20);
$mono-30: hsl(0, 0, 30);
$mono-40: hsl(0, 0, 40);
$mono-50: hsl(0, 0, 50);
$mono-60: hsl(0, 0, 60);
$mono-70: hsl(0, 0, 70);
$mono-80: hsl(0, 0, 80);
$mono-90: hsl(0, 0, 90);
$mono-95: hsl(0, 0, 95);
$mono-100: hsl(0, 0, 100);

$black-a25: hsla(0, 0, 0, 0.25);
$black-a50: hsla(0, 0, 0, 0.5);
$black-a75: hsla(0, 0, 0, 0.75);

$white-a25: hsla(0, 0, 100, 0.25);
$white-a50: hsla(0, 0, 100, 0.5);
$white-a75: hsla(0, 0, 100, 0.75);
$white-grad: linear-gradient(90deg, $white-a25, transparent);

$card-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
