@import './mixin';

$primary-50: hsl(255, 50, 95);
$primary-100: hsl(255, 50, 90);
$primary-200: hsl(255, 50, 80);
$primary-300: hsl(255, 50, 70);
$primary-400: hsl(255, 50, 60);
$primary-500: hsl(255, 50, 50);
$primary-600: hsl(255, 50, 40);
$primary-700: hsl(255, 50, 30);
$primary-800: hsl(255, 50, 20);
$primary-900: hsl(255, 50, 10);
$primary-600-grad-vertical: linear-gradient(180deg, $primary-600, adjust-color($primary-500, $hue: -30));
$primary-600-grad-horizontal: linear-gradient(90deg, $primary-600, adjust-color($primary-500, $hue: -30));

$mono-0: hsl(0, 0, 0);
$mono-10: hsl(0, 0, 10);
$mono-20: hsl(0, 0, 20);
$mono-30: hsl(0, 0, 30);
$mono-40: hsl(0, 0, 40);
$mono-50: hsl(0, 0, 50);
$mono-60: hsl(0, 0, 60);
$mono-70: hsl(0, 0, 70);
$mono-80: hsl(0, 0, 80);
$mono-90: hsl(0, 0, 90);
$mono-95: hsl(0, 0, 95);
$mono-100: hsl(0, 0, 100);

$black-a25: hsla(0, 0, 0, 0.25);
$black-a50: hsla(0, 0, 0, 0.5);
$black-a75: hsla(0, 0, 0, 0.75);

$white-a25: hsla(0, 0, 100, 0.25);
$white-a50: hsla(0, 0, 100, 0.5);
$white-a75: hsla(0, 0, 100, 0.75);
$white-grad: linear-gradient(90deg, $white-a25, transparent);

$card-shadow: 1px 3px 6px rgba(0, 0, 0, 0.2);

$slide-main: rgb(0, 126, 189);
